body{
    margin: 0;
}
.nav{
    height:60px;
    background-color: #65A603;
}
.imagen{
    width: 50px;
    height: 50px;
}
#menu-izq{
    list-style-type: none;
    text-align: left;
    margin: 0;
    display: contents;
}
#menu-izq li{
    display: inline;
    text-align: left;
    margin: 0 10px 0 0;
}
#menu-der{
    list-style-type: none;
    text-align: right;
    margin: 0;
    display: block;
    float: right;
}
#menu-der li{
    display: inline;
    text-align: right;
    margin: 0 10px 0 0;
}
.cajas{
    border-style: solid;
    border-width: 1px 0 1px 0;
    border-color: grey;
    height: 200px;
    display: grid;
    grid-template-columns: 30% 70%;
   
}
.cajas .imagen{
    padding: 50px;
    grid-column-start: 1;
}

.cajas p{
    grid-column-start: 2;
    font-family: 'Anton', sans-serif;
}
.cajas .nombre{
    grid-column-start: 2;
    
}