
h1{
    color:white;
    padding: 1em;


}
#show-modal{
    text-align: center;
    background: #bc651a;
    padding: 15px 15px;
    color: white;
    font-weight: 500;
    font-size: 1.5em;
    border-radius: 3.5px;
    text-decoration: none;
    transition: all 0.15s linear;
}
#show-modal: hover{
    cursor: pointer;
    background: #bc9d1a;



}
.modal{
    position: fixed;
    top:  -100vh;
    left: 0;
    z-index:  99999999;
    background: rgba(0,0,0,0.75);
    width: 100vw;
    height: 100vh;
    opacity: 0;
    transition: opacity 0.35s ease;



}

.modal .content-modal{
    width: 100%;
    max-width: 500px;
    position: fixed;
    left: 50%;
    top: -100vh;
    transition: top 0.35s ease;
    margin-left: -250px;
    background: white;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    border-radius: 2px;
    z-index: 99999999;


}
.modal h2{
    padding: 0.5em;
    text-align: center;
    color: #444444;
    margin: 0;
}
.modal article{
    height: 100%;
    background: white;

}
.close-modal{
    color: #e74c3c;
    position: relative;
    top: 0.2em;
    right: 0.37em;
    margin: 0;
    padding:5px;
    font-weight: bold;
    text-decoration: none,
}
.mmodal a:hover{
    color: #c0392b;

}
.modal:target{
    opacity: 1;
    top: 0;
}

.modal .btn-close-modal{
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999991;
}

.modal:target .content-modal{
    top: 50px;
    transition: top 0.35s ease;

}
@media(max-width. 796px){
    .modal .content-modal{
        width: 90%;
        max-width: none;
        left: 5%;
        margin-left: 0;
    }

    .modal ul{
        padding: 0
    }
}

/* MODALES GOOGLE  FACEBOOK */

/* MODALES */
.box-logo{
    position: relative;
    width: 100%;
    height: 100%;
    left: 1px;
    top: 6px;
    padding-top: 3%;
    background: rgba(217, 4, 22, 0.8);



}

.box-logo .logo img{
    

        position: relative;
        width: 50%;
        /* height: 1em;
        left: 102px;
        top: 207px;
     */
    
   

}
.box-logo .row-images{
    position: relative;
    width: 100%;
    height: 100%;
/* left: 302px;
top: 169px; */

}

.input-modal{
    position: relative;
width: 214px;
height: 38px;
/* left: 71px;
top: 481px;
 */
border: 1px solid #000000;
box-sizing: border-box;
border-radius: 16px;



/* DISEÑO DEL MODAL */
h1{
    color:white;
    padding: 1em;


}
#show-modal{
    text-align: center;
    background: #bc651a;
    padding: 15px 15px;
    color: white;
    font-weight: 500;
    font-size: 1.5em;
    border-radius: 3.5px;
    text-decoration: none;
    transition: all 0.15s linear;
}
#show-modal: hover{
    cursor: pointer;
    background: #bc9d1a;



}
.modal{
    position: fixed;
    top:  -100vh;
    left: 0;
    z-index:  99999999;
    background: rgba(0,0,0,0.75);
    width: 100vw;
    height: 100vh;
    opacity: 0;
    transition: opacity 0.35s ease;



}

.modal .content-modal{
    width: 100%;
    max-width: 500px;
    position: fixed;
    left: 50%;
    top: -100vh;
    transition: top 0.35s ease;
    margin-left: -250px;
    background: white;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    border-radius: 2px;
    z-index: 99999999;


}
.modal h2{
    padding: 0.5em;
    text-align: center;
    color: #444444;
    margin: 0;
}
.modal article{
    height: 100%;
    background: #bc651a;
    display: flex;

}
.close-modal{
    color: #e74c3c;
    position: absolute;
    top: 0.2em;
    right: 0.37em;
    margin: 0;
    padding:5px;
    font-weight: bold;
    text-decoration: none,
}
.mmodal a:hover{
    color: #c0392b;

}
.modal:target{
    opacity: 1;
    top: 0;
}

.modal .btn-close-modal{
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999991;
}

.modal:target .content-modal{
    top: 50px;
    transition: top 0.35s ease;

}
@media(max-width. 796px){
    .modal .content-modal{
        width: 90%;
        max-width: none;
        left: 5%;
        margin-left: 0;
    }

    .modal ul{
        padding: 0
    }
}




    /* MODAL FACEBOOK */

.box-login-facebook{
    display: block

}
.form-facebook p{
    position: relative;
width: 100%;
height: 100%;
/* left: 43px;
top: 235px; */

font-family: Mitr;
font-style: normal;
font-weight: normal;
font-size: 26px;
line-height: 41px;
text-align: center;

color: #000000;



}
.email-facebook{
    position: relative;
width: 128px;
height: 38px;
/* left: 114px;
top: 341px; */

font-family: Mitr;
font-style: normal;
font-weight: normal;
font-size: 26px;
line-height: 41px;
text-align: center;

color: #000000;

}
.password-facebook{
    position: relative;
width: 163px;
height: 38px;
/* left: 97px;
top: 435px; */

font-family: Mitr;
font-style: normal;
font-weight: normal;
font-size: 26px;
line-height: 41px;
text-align: center;

color: #000000;

}
.input-modals{
    position: relative;
width: 214px;
height: 38px;
/* left: 71px;
top: 481px; */

border: 1px solid #000000;
box-sizing: border-box;
border-radius: 16px;

}




/* MODAL GOOGLE */


.box-login-google{
    display: flex;

}
section .box-logo{

    padding: 100%;
    margin: 100%;


}
.form-google{

    display: block;
    padding: 100%;
    margin:100;

}
.row-images{



}




.form-google p{
    position: relative;
width: 271px;
height: 60px;
/* left: 43px;
top: 235px; */

font-family: Mitr;
font-style: normal;
font-weight: normal;
font-size: 26px;
line-height: 41px;
text-align: center;

color: #000000;



}
.email-modal-google{
    position: relative;
width: 128px;
height: 38px;
/* left: 114px;
top: 341px;
 */
font-family: Mitr;
font-style: normal;
font-weight: normal;
font-size: 26px;
line-height: 41px;
text-align: center;

color: #000000;

}
.password-modal-google{
    position: relative;
width: 163px;
height: 38px;


font-family: Mitr;
font-style: normal;
font-weight: normal;
font-size: 26px;
line-height: 41px;
text-align: center;

color: #000000;

}