*{
    margin: 0;
    padding: 0;
    font-family: 'Mitr', sans-serif;
}
.intro,
.log-in,
.sign-in,
.welcome,
.formulario{
    background-image: url(./Imagenes/Fondo.png);
    background-repeat: repeat-x;
}
.intro .logo,
.log-in .logo,
.intro .intro-text,
.log-in .log-in-data,
.intro .btns,
.log-in .log-in-btns,
.sign-in .header{
    background: rgba(217, 4, 22, 0.8);
}
.user-info .user-info-header{
    background: rgba(101, 166, 3, 0.8);
}
.log-in .logo img,
.sign-in .header .logo,
.formulario .caja-imagen img{
    width: 10rem;
}
.intro .intro-text{
    padding: 15px 10px;
}
.intro .intro-text p{
    color: white;
    font-family: 'Mitr', sans-serif;
    font-size: 20pt;
    text-align: center;
    padding: 20px 0px;
}
.intro .btns button{
    background: #D90416;
    border-radius: 16px;
    color: white;
    border: none;
    font-family: 'Mitr', sans-serif;
    font-size: 18pt;
    padding: 7px 25px;
}
.intro .btns p{
    color: white;
    font-family: 'Mitr', sans-serif;
    font-size: 18pt;
    margin: 1rem;
}

.log-in .log-in-data,
.log-in .log-in-btns{
    padding: 30px 10px;
}
.log-in .log-in-data h3{
    color: white;
    font-family: 'Mitr', sans-serif;
    font-size: 24pt;
    text-align: center;
}
.log-in .log-in-data label{
    color: white;
    font-family: 'Mitr', sans-serif;
    font-size: 16pt;
    text-align: center;
}
.log-in .log-in-data input{
    border: none;
    border-radius: 16pt;
    font-size: 16pt;
}
.log-in .log-in-data button{
    background: #D90416;
    border: none;
    border-radius: 16pt;
    color: white;
    padding: 7px 25px;
    font-size: 14pt;
    margin: 10px;

}

.log-in .log-in-btns p{
    color: white;
    font-family: 'Mitr', sans-serif;
    font-size: 16pt;
    text-align: center;
    padding: 10px;
}
.log-in .log-in-btns img{
    width: 5rem;
}
.sign-in .header .small-imgs{
    height: 2rem;
}
.sign-in .sign-in-options,
.sign-in .sign-in-footer,
.user-info{
    background: rgba(229, 229, 229, 0.8);
}
.sign-in .sign-in-options h3{
    font-family: 'Mitr', sans-serif;
    font-size: 27pt;
    text-align: center;
}
.sign-in .sign-in-options button,
.user-info .user-info-footer button{
    border-style: solid;
    border-radius: 16pt;
    border-width: 1px;
    border-color: black;
    font-family: 'Mitr', sans-serif;
    font-size: 20pt;
    margin: 1rem;
    padding: 7px 32px;

}
.sign-in .sign-in-options button img{
    width: 3rem;
}
.sign-in .sign-in-footer,
.user-info .user-info-footer i{
    font-size: 20pt;
}
.user-info .user-info-header{
    height: 9rem;
}
.user-info .user-info-header img{
    
}
.user-info .info-inputs label{
    font-family: 'Mitr', sans-serif;
    font-size: 20pt;
    margin-bottom: 5px;
}
.user-info .info-inputs input{
    border: none;
    border-radius: 16pt;
    font-size: 20pt;
}
.user-info .info-inputs input:nth-child(3){
    height: 8rem;
    font-size: 18pt;
}
.user-info .user-info-footer button{
    font-size: 20pt;
    border-style: solid;
    border-radius: 16pt;
    border-width: 1px;
    border-color: black;
}
/* PANTALLA DE BIENVENIDA */
.welcome-text h2{
    position: relative;
    width: 309px;
    height: 166px;
    /* left: 29px;
    top: 30px; */
    display: block;
    font-family: Mitr;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 78px;
    text-align: center;
    color: #000000;
    }
    .logo img{
       position: relative;
       width: 10rem;
    /*    left: 102px;
       top: 207px */;
    }
    .welcome{
       display: block;
    }
    .welcome-description-text p{
       position: relative;
       width: 270px;
       height: 166px;
       /* left: 53px;
       top: 371px;
        */
       font-family: Mitr;
       font-style: normal;
       font-weight: normal;
       font-size: 25px;
       line-height: 39px;
       text-align: center;
       color: #000000;
       background: white;
    }
    .button-go{
       position: relative;
        width: 153px;
        height: 51px;
        /* left: 107px;
        top: 518px; */
        background: rgba(217, 4, 22);
        border-radius: 16px;
        color: white;
        font-size: 18pt;
    }
    /* MODALES */
    .box-logo{
       position: relative;
    width: 360px;
    height: 209px;
    /* left: 1px;
    top: 6px; */
    background: rgba(217, 4, 22, 0.8);
    }
    .box-logo .logo img{
       position: relative;
       width: 10rem;
       /* left: 102px;
       top: 207px;
        */
    }
    .box-logo .row-images{
       position: relative;
    width: 35px;
    height: 35px;
    /* left: 302px;
    top: 169px; */
    }
    .input-modal{
       position: relative;
    width: 214px;
    height: 38px;
    /* left: 71px;
    top: 481px;
    */
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 16px;
       /* MODAL FACEBOOK */
    .box-login-facebook{
       display: block
    }
    .form-facebook p{
       position: relative;
    width: 271px;
    height: 60px;
    /* left: 43px;
    top: 235px; */
    font-family: Mitr;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 41px;
    text-align: center;
    color: #000000;
    }
    .email-facebook{
       position: relative;
    width: 128px;
    height: 38px;
    /* left: 114px;
    top: 341px; */
    font-family: Mitr;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 41px;
    text-align: center;
    color: #000000;
    }
    .password-facebook{
       position: relative;
    width: 163px;
    height: 38px;
    /* left: 97px;
    top: 435px; */
    font-family: Mitr;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 41px;
    text-align: center;
    color: #000000;
    }
    .input-modals{
       position: relative;
    width: 214px;
    height: 38px;
    /* left: 71px;
    top: 481px; */
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 16px;
    }
    /* MODAL GOOGLE */
    .box-login-google{
       display: block
    }
    .form-google p{
       position: relative;
    width: 271px;
    height: 60px;
    /* left: 43px;
    top: 235px; */
    font-family: Mitr;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 41px;
    text-align: center;
    color: #000000;
    }
    .email-modal-google{
       position: relative;
    width: 128px;
    height: 38px;
    /* left: 114px;
    top: 341px;
    */
    font-family: Mitr;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 41px;
    text-align: center;
    color: #000000;
    }
    .password-modal-google{
       position: relative;
    width: 163px;
    height: 38px;
    /* left: 97px;
    top: 435px; */
    font-family: Mitr;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 41px;
    text-align: center;
    color: #000000;
    }
    /*formulario*/
    .formulario{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        background: url(./Imagenes/Fondo.png);
        /*position: absolute;*/
        margin: auto;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
    ​.formulario .imagen,
    .formulario .usuario,
    .formulario .correo,
    .formulario .contraseña,
    .formulario .confirma{
        background: rgba(101, 166, 3, 0.8);
    }
    .formulario .caja-imagen {
        flex-direction: column;
        align-items: center;
    }
    .formulario .usuario{
        width: 120px;
       
    }
    .formulario .correo{
        width: 120px;
    }
    ​
    .formulario .contraseña{
        width: 120px;
    }
    ​
    .formulario .confirma{
        width: 120px;
    }
    .formulario .confirma button{
        white-space: 120px;
        background-color:#65A603;
        height: 50px; 
        border-radius: 20px; 
        color: #ffffff;
        border-color: transparent;
        font-size: 20px;
    }
    