*{
    margin: 0;
    padding: 0;
    font-family: 'Mitr', sans-serif;
}
a{
    text-decoration: none;
    text-decoration-color: #000000;
}
.intro,
.log-in,
.sign-in,
.welcome,
.formulario{
    background-image: url(./Imagenes/Fondo.png);
    background-repeat: repeat-x;
}
.intro .logo,
.log-in .logo,
.intro .intro-text,
.log-in .log-in-data,
.intro .btns,
.log-in .log-in-btns,
.sign-in .header{
    background: rgba(217, 4, 22, 0.8);
}
.user-info .user-info-header, .formulario .imagen,
.formulario .form,
.formulario .form-btn{
    background: rgba(101, 166, 3, 0.8);
}

.formulario .form-btn a{
    background-color: rgba(101, 166, 3);
    border-radius: 16px;
    padding: 7px 25px;

}
.intro .logo img,
.log-in .logo img,
.sign-in .header .logo,
.formulario .imagen img,
.welcome .logo img{
    width: 10rem;
}
.intro .intro-text{
    padding: 15px 10px;
}
.intro .logo,
.log-in .logo,
.log-in .log-in-data,
.log-in .log-in-btns,
.sign-in .header,
.sign-in .sign-in-options,
.user-info .user-info-footer,
.intro .btns,
.formulario .imagen,
.formulario .form-btn,
.welcome .welcome-text h2,
.welcome .logo,
.welcome .welcome-description-text p,
.welcome .button-go{
    text-align: center;
}
.intro .intro-text p{
    color: white;
    font-family: 'Mitr', sans-serif;
    font-size: 20pt;
    text-align: center;
    padding: 20px 0px;
}
.intro .btns button{
    background: #D90416;
    border-radius: 16px;
    color: white;
    border: none;
    font-family: 'Mitr', sans-serif;
    font-size: 18pt;
    padding: 7px 25px;
}
.intro .btns p{
    color: white;
    font-family: 'Mitr', sans-serif;
    font-size: 18pt;
    margin: 1rem;
}

.log-in .log-in-data,
.log-in .log-in-btns{
    padding: 30px 10px;
}
.log-in .log-in-data h3{
    color: white;
    font-family: 'Mitr', sans-serif;
    font-size: 24pt;
    text-align: center;
}
.log-in .log-in-data label{
    color: white;
    font-family: 'Mitr', sans-serif;
    font-size: 16pt;
    text-align: center;
}
.log-in .log-in-data input{
    border: none;
    border-radius: 16pt;
    font-size: 16pt;
}
.log-in .log-in-data button{
    background: #D90416;
    border: none;
    border-radius: 16pt;
    color: white;
    padding: 7px 25px;
    font-size: 14pt;
    margin: 10px;

}

.log-in .log-in-btns p{
    color: white;
    font-family: 'Mitr', sans-serif;
    font-size: 16pt;
    text-align: center;
    padding: 10px;
}
.log-in .log-in-btns img{
    width: 5rem;
}
.sign-in .header .small-imgs{
    height: 2rem;
}
.sign-in .sign-in-options,
.sign-in .sign-in-footer,
.user-info{
    background: rgba(229, 229, 229, 0.8);
}
.sign-in .sign-in-options h3{
    font-family: 'Mitr', sans-serif;
    font-size: 27pt;
    text-align: center;
    color: black;
}
.sign-in .sign-in-options a{
    text-decoration: none;
}
.sign-in .sign-in-options a img{
    width: 5rem;
}
.sign-in .sign-in-options button,
.user-info .user-info-footer button{
    border-style: solid;
    border-radius: 16pt;
    border-width: 1px;
    border-color: black;
    font-family: 'Mitr', sans-serif;
    font-size: 20pt;
    margin: 1rem;
    padding: 7px 32px;

}
.sign-in .sign-in-options button img{
    width: 3rem;
}
.sign-in .modal-imgs{
    margin: 15px auto;
}
.sign-in .sign-in-options .modal-options p,
.sign-in .sign-in-options .modal-options a{
    font-size: 14pt;
    padding-bottom: 10px;
}
.sign-in .sign-in-footer,
.user-info .user-info-footer i{
    font-size: 20pt;
}
.user-info .user-info-header{
    height: 9rem;
}
.user-info .user-info-header img{
    
}
.user-info .info-inputs label{
    font-family: 'Mitr', sans-serif;
    font-size: 20pt;
    margin-bottom: 5px;
}
.user-info .info-inputs input{
    border: none;
    border-radius: 16pt;
    font-size: 20pt;
}
.user-info .info-inputs input:nth-child(3){
    height: 8rem;
    font-size: 18pt;
}
.user-info .user-info-footer button{
    font-size: 20pt;
    border-style: solid;
    border-radius: 16pt;
    border-width: 1px;
    border-color: black;
}
/* PANTALLA DE BIENVENIDA */
.welcome-text h2{
    font-size: 50px;
    line-height: 78px;
    color: #000000;
    padding: 25px 10px;
    }
    .welcome{
       display: block;
    }
    .welcome-description-text p{
       font-size: 25px;
       line-height: 39px;
       color: #000000;
       background: white;
       padding: 25px 10px;
    }
    .welcome .button-go button{
        background: #D90416;
        border-radius: 16px;
        color: white;
        border: none;
        font-size: 18pt;
        padding: 7px 25px;
        margin: 10px auto;

    }
    /* MODALES */
    .modal{
        /*display: none;*/
        position: fixed;
        z-index: 1; 
        left: 0;
        top: 0;
        width: 100%;
        height: 100%; 
        overflow: auto; 
        background-color: rgba(0,0,0,0.4);
    }
    .modal .modal-content{
        background-color: whitesmoke;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 70%;
    }
    .modal .modal-content .close{
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }
    .modal .modal-content .close:hover,
    .modal .modal-content .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
    /*.modales{
        display: block;
    }
    .box-logo{
       position: relative;
    width: 360px;
    height: 209px;
    background: rgba(217, 4, 22, 0.8);
    }
    .box-logo .logo img{
       position: relative;
       width: 10rem;
    }
    .box-logo .row-images{
       position: relative;
    width: 35px;
    height: 35px;
    }
    .input-modal{
       position: relative;
    width: 214px;
    height: 38px;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 16px;
    }
       /* MODAL FACEBOOK */
    /*.box-login-facebook{
       display: block
    }
    .form-facebook p{
       position: relative;
    width: 271px;
    height: 60px;
    font-family: Mitr;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 41px;
    text-align: center;
    color: #000000;
    }
    .email-facebook{
       position: relative;
    width: 128px;
    height: 38px;
    font-family: Mitr;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 41px;
    text-align: center;
    color: #000000;
    }
    .password-facebook{
       position: relative;
    width: 163px;
    height: 38px;
    font-family: Mitr;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 41px;
    text-align: center;
    color: #000000;
    }
    .input-modals{
       position: relative;
    width: 214px;
    height: 38px;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 16px;
    }
    /* MODAL GOOGLE */
    /*.box-login-google{
       display: block
    }
    .form-google p{
       position: relative;
    width: 271px;
    height: 60px;
    font-family: Mitr;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 41px;
    text-align: center;
    color: #000000;
    }
    .email-modal-google{
       position: relative;
    width: 128px;
    height: 38px;
    font-family: Mitr;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 41px;
    text-align: center;
    color: #000000;
    }
    .password-modal-google{
       position: relative;
    width: 163px;
    height: 38px;
    font-family: Mitr;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 41px;
    text-align: center;
    color: #000000;
    }*/
    /*formulario*/
   
    .formulario .form label{
        font-size: 22pt;
    }
    .formulario .form input{
        border-style: none;
        border-radius: 16px;
        font-size: 20pt;
    }
    .formulario .form-btn button{
        background: rgba(101, 166, 3);
        border: none;
        border-radius: 16pt;
        color: white;
        padding: 7px 25px;
        font-size: 14pt;
        
    }